---
layout: layouts/base.njk
---
{%- import "components/macros.njk" as macros -%}

<h1>All my books</h1>

<ul style="padding: 0; display: grid; grid-template-columns: repeat(5, 1fr); gap: 1rem;">
{%- for book in collections.books -%}
  {{ macros.gridCard("books", book.url, book.data.title, book.data.coverImg) }}
{%- endfor -%}
</ul>
